[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "car"]
	path = car
	url = https://github.com/cran/car
[submodule "effects"]
	path = effects
	url = https://github.com/bprice2652/effects_repo
	subdir = effects
